---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import DesignPreview from '../components/DesignPreview.astro'
import CTA from '../components/CTA.astro'
import '../styles/global.css'
import Background from '../components/Background.astro'
---

<Layout title='Deadfit - Your Ultimate Fitness Companion'>
	<main>
		<Hero />
		<Features />
		<DesignPreview />
		<!-- <CTA /> -->
		<Background />
	</main>
</Layout>
