---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro'
import HeroVersion2 from '../components/HeroVersion2.astro'
---

<Layout title='Deadfit - Your Ultimate Fitness Companion'>
	<main>
		<HeroVersion2 />
	</main>
</Layout>
