---
// src/components/Footer.astro
import {
	getLangFromUrl,
	useTranslatedPath,
	useTranslations,
} from '../i18n/utils'

const currentYear = new Date().getFullYear()
import { copyright } from '../constants/info'

const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)

const t = useTranslations(currentLang)
---

<footer class='border-t border-white/10 mt-20'>
	<div
		class='max-w-6xl mx-auto px-4 py-8 flex flex-col sm:flex-row justify-between items-center gap-4'
	>
		<p class='text-sm text-gray-400'>
			{t('footer.copyright')}
		</p>
		<div class='flex items-center gap-6'>
			<a
				href={translatePath('/support')}
				class='text-sm text-gray-400 hover:text-black transition-colors duration-300'
			>
				{t('footer.support')}
			</a>
			<a
				href={translatePath('/terms-of-service')}
				class='text-sm text-gray-400 hover:text-black transition-colors duration-300'
			>
				{t('footer.terms-of-service')}
			</a>
			<a
				href={translatePath('/privacy-policy')}
				class='text-sm text-gray-400 hover:text-black transition-colors duration-300'
			>
				{t('footer.privacy-policy')}
			</a>
		</div>
	</div>
</footer>
