---
import { appName, emailContact } from '../consstants/info'
---

<main class='max-w-4xl mx-auto px-6 py-16 sm:py-24'>
	<div
		class='prose prose-invert prose-lg max-w-none [&_h1]:text-2xl [&_h1]:font-bold [&_h2]:text-lg [&_h2]:font-semibold [&_h2]:pt-3 [&_h3]:text-md [&_h3]:font-semibold [&_h3]:pt-2 [&_h4]:font-bold [&_ul]:pl-6 [&_ul]:list-disc [&_a]:text-blue-500 [&_a]:underline [&_a]:hover:text-blue-600'
	>
		<h1>{appName} Support</h1>
		<p>
			We're here to help you on your fitness journey. If you have any
			issues, questions, or feedback, please don't hesitate to reach out.
		</p>
		<div class='mt-3'>
			<h2>Contact Us</h2>
			<p>
				The best way to get in touch with us is by email. We aim to
				respond to all inquiries within 3 - 4 business days. Please be
				as detailed as possible in your message so we can assist you
				effectively.
			</p>
			<strong>
				<a href={`mailto:${emailContact}`}>{emailContact}</a></strong
			>
		</div>
		<div class='mt-3'>
			<h2>Frequently Asked Questions (FAQ)</h2>

			<h3 class='mt-1'>How do I back up my data?</h3>
			<p>
				Since Deadfit is a privacy-focused, offline-first app, all your
				data is stored locally on your device. We do not have access to
				it. We are working on an export/import feature for easy backups.
			</p>

			<h3>How do I restore my "Pro" purchase on a new device?</h3>
			<p>
				If you've purchased a Pro subscription, you can easily restore
				it. Look for a "Restore Purchases" button on the upgrade screen
				within the app. As long as you are signed in with the same Apple
				ID or Google Play account you used to make the purchase, your
				Pro status will be reinstated.
			</p>

			<h3>How can I request a feature or report a bug?</h3>
			<p>
				We'd love to hear from you! Please send an email to our support
				address above. For bug reports, please include your device
				model, operating system version, and steps to reproduce the
				issue.
			</p>
		</div>
	</div>
</main>
